# overall style
BasedOnStyle: Google
IndentWidth: 4
AccessModifierOffset: -4

# code
ColumnLimit: 0

# enable single line if block
AllowShortBlocksOnASingleLine: Always
AllowShortIfStatementsOnASingleLine: WithoutElse

# comments
ReflowComments: false
AlignTrailingComments: false
SpacesBeforeTrailingComments: 1
