# to ignore CMake build directories
build/
cmake-build*/

# to ignore .clang-format => NO! actually prevents formatting wars!
# .clang-format

# ignore any cached files
.cache/
.vscode/

# ignore assets
assets/